.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: #e9e9eb;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 50px);
}
.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app__input{
  flex: 1;
}
.app__iconButton{
  flex: 0;
}
